
@tailwind base;
@tailwind components;
@tailwind utilities;

.hackathon-background {
  background-image: url("https://khwopa.edu.np/themes/khce_v2/images/KhEC_KhCE.jpg");
  background-size: cover;
  background-position: center;
}

:root {
  --background:#dddfe9; /* 228 55% 95% */
  --primary: #313d40;
  --secondary: #476c76; /* 0 0 96% */
  --accent: #edb070;
  --radius: 0.5rem;
}
